In [11]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [12]:
# Set notebook display
%matplotlib inline
from IPython.display import set_matplotlib_formats
set_matplotlib_formats('retina')

In [13]:
# import data analysis libraries
import os

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
# read data
raw_data_path = os.path.join(os.path.abspath('..'),
                             'data',
                             'rawdata.csv')

if os.path.exists(raw_data_path):
    print('File path:', raw_data_path)
else:
    print('Check the data path!')

raw_data = pd.read_csv(raw_data_path, index_col = 0)
raw_data.head()

File paht: /Users/rolf/Downloads/noncomp/rank/data/rawdata.csv

,EnerCon,RD,Loan,TerInd,PubSpa,WatCon,Engle,Unemp,PopDen,GradeII,SolWas,WasWater,ConWas,PubBus,PasInt,Latitude,Longitude,Location
City,,,,,,,,,,,,,,,,,,
Beijing,0.38,4.753,20.097,77.82,60.41,56.735,30.819,1.30,1035.44,168.0,87.67,86.10,99.59,18.76,380.678,40.894,116.513,Eastern
Tianjin,0.57,2.493,15.196,49.68,41.82,43.147,32.701,3.50,1125.53,175.0,98.91,100.00,96.23,13.41,182.558,39.085,117.199,Eastern
Shijiazhuang,1.11,2.779,14.087,55.66,48.98,24.613,25.847,3.61,1818.86,97.0,95.10,95.85,71.98,11.68,205.637,38.043,114.514,Eastern
Qinhuangdao,0.96,2.763,17.193,64.65,92.87,67.342,24.000,3.37,1745.81,239.0,65.00,98.38,157.94,9.10,134.561,39.935,119.600,Eastern
Baoding,0.98,2.803,15.816,37.61,40.49,28.145,21.721,4.02,3377.68,79.0,86.20,91.39,82.37,21.19,162.130,38.874,115.465,Eastern

In [34]:
raw_data = raw_data.drop(['Latitude', 'Longitude', 'Location'], axis = 1)

In [35]:
rank_data_path = os.path.join(os.path.abspath('..'),
                             'results',
                             'outranking_matrix',
                             'threshold_reference',
                             'threshold_reference.csv')

if os.path.exists(rank_data_path):
    print('File path: ', rank_data_path)
else:
    print('Check the path!')
    
rank_data = pd.read_csv(rank_data_path, index_col=0)
rank_data.head()

File path:  /Users/rolf/Downloads/noncomp/rank/results/outranking_matrix/threshold_reference/threshold_reference.csv

              without_thres  thres_ref_phi23  thres_ref_phi12  thres_ref_phi13
City
Beijing                   2                1              1.0                5
Tianjin                  29               10             35.0               39
Shijiazhuang             33               13             30.0               38
Qinhuangdao              27                8             21.0               31
Baoding                  36               19             32.5               36

In [36]:
indicator_rank_corr = pd.DataFrame(index = rank_data.columns,
                                  columns = raw_data.columns)
indicator_rank_corr.head()

,EnerCon,RD,Loan,TerInd,PubSpa,WatCon,Engle,Unemp,PopDen,GradeII,SolWas,WasWater,ConWas,PubBus,PasInt
without_thres,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
thres_ref_phi23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
thres_ref_phi12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
thres_ref_phi13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
row, column = indicator_rank_corr.shape

In [43]:
for row in range(row):
    for column in range(column):
        indicator_rank_corr.iloc[row, column] = rank_data.iloc[:, row].corr(raw_data.iloc[:, column])
        
indicator_rank_corr.head()

,EnerCon,RD,Loan,TerInd,PubSpa,WatCon,Engle,Unemp,PopDen,GradeII,SolWas,WasWater,ConWas,PubBus,PasInt
without_thres,0.124611,-0.163286,-0.574603,-0.373757,0.00124669,-0.296796,-0.137636,0.454627,0.142387,-0.419879,0.0528976,-0.289049,-0.0904758,-0.451427,-0.327755
thres_ref_phi23,0.277448,-0.203609,-0.0888981,-0.2253,-0.296668,-0.23523,0.217934,0.124389,0.0253462,-0.0916551,-0.0823563,-0.252213,-0.227037,-0.408748,NaN
thres_ref_phi12,0.0696261,-0.194378,-0.541013,-0.454759,-0.050877,-0.381056,-0.0751133,0.418249,0.0583552,-0.390035,0.0869744,-0.230363,-0.0584019,NaN,NaN
thres_ref_phi13,0.00153898,-0.191596,-0.501795,-0.432491,0.14419,-0.462623,-0.388915,0.444605,0.0365241,-0.444874,-0.0134165,-0.162495,NaN,NaN,NaN

In [41]:
indicator_rank_corr

,EnerCon,RD,Loan,TerInd,PubSpa,WatCon,Engle,Unemp,PopDen,GradeII,SolWas,WasWater,ConWas,PubBus,PasInt
without_thres,0.124611,-0.163286,-0.574603,-0.373757,0.00124669,-0.296796,-0.137636,0.454627,0.142387,-0.419879,0.0528976,-0.289049,-0.0904758,-0.451427,-0.327755
thres_ref_phi23,0.277448,-0.203609,-0.0888981,-0.2253,-0.296668,-0.23523,0.217934,0.124389,0.0253462,-0.0916551,-0.0823563,-0.252213,-0.227037,-0.408748,NaN
thres_ref_phi12,0.0696261,-0.194378,-0.541013,-0.454759,-0.050877,-0.381056,-0.0751133,0.418249,0.0583552,-0.390035,0.0869744,-0.230363,-0.0584019,NaN,NaN
thres_ref_phi13,0.00153898,-0.191596,-0.501795,-0.432491,0.14419,-0.462623,-0.388915,0.444605,0.0365241,-0.444874,-0.0134165,-0.162495,NaN,NaN,NaN